/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
body {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 1024px) {
  body {
    padding-left: 20rem;
    padding-right: 20rem;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;